---
---

<div class="bitrix-install">
    <script is:inline>
        const script = document.createElement('script');
        script.src = '//api.bitrix24.com/api/v1/';
        script.async = true;
        script.onload = function() {
            if (typeof BX24 !== 'undefined') {
                BX24.init(function(){
                    BX24.installFinish();
                });
            } else {
                console.error('Bitrix24 скрипт не загружен');
            }
        };
        document.head.appendChild(script);
    </script>
</div>
